%h1 Editing goal

= render 'form'
.alert.alert-danger
  %h2 Feel like quitting?
  %p= link_to "Give up on this goal", @goal, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger"
